<!--
  Generated template for the StandingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Standings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>En stangins page</h2>
</ion-content>
