<!--
  Generated template for the TeamDeatailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{team.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <h2>Record: {{teamStanding.wins}} - {{teamStanding.losses}}</h2>
          <p>Coach: {{team?.coach}}</p>
        </ion-col>
        <ion-col col-6 text-right="">
          <button ion-button="" color="primary" outline (click)="toggleFollow()" *ngIf="!isFollowing">
            <ion-icon name="star"></ion-icon>
            Add favorite
          </button>
          <button ion-button="" color="primary" (click)="toggleFollow()" *ngIf="isFollowing">
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label>Date filter</ion-label>
        <ion-toggle [(ngModel)]="useDateFilter"
                    (ionChange)="dateChanged()"
        ></ion-toggle>
        <ion-datetime displayFormat="D/M/YYYY" pickerFormat="D/M/YYYY"
                      [(ngModel)]="dateFilter" (ionChange)="dateChanged()"
                      placeholder="a partir de ..." [disabled]="!useDateFilter"
        ></ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item
      *ngFor="let game of games"
      
      (click)="gameClicked($event, game)"
    >
      <ion-row>
        <ion-col col-3>
          <p>{{game.time | date:'M/d/yy'}}</p>
          <p>{{game.time | date:'shortTime'}}</p>
        </ion-col>
        <ion-col col-3>
          <p>{{game.homeAway}} {{game.opponent}}</p>
          <p>{{game.location}}</p>
        </ion-col>
        <ion-col col-3>
          <h4>{{game.scoreDisplay}}</h4>
        </ion-col>
      </ion-row>
      {{game.opponent}}
      <!--completo {{game | json}}-->
    </ion-item>
  </ion-list>

</ion-content>
