<!--
  Generated template for the TeamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Teams</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item-group *ngFor="let division of teams">
      <ion-item-divider color="secondary">
        {{division.divisionName}}
      </ion-item-divider>
      <button ion-item
              *ngFor="let item of division.divisionTeams"
              (click)="teamTapped($event, item)">{{item.name}}</button>
    </ion-item-group>

  </ion-list>
</ion-content>
