<!--
  Generated template for the MyTeamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle="">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Deporte Base</ion-title>
  </ion-navbar>

  <ion-toolbar color="secondary">
    <ion-title>Mis equipos</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="favourites.length==0; else fav">
    <ion-card-header>
      Sin equipos favoritos
    </ion-card-header>
    <ion-card-content>
       <button ion-button round outline color="secondary" (click)="irATorneos()">
        Torneos
        <ion-icon padding-left="" name="search"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>

  <ng-template #fav>
    <ion-card>
      <ion-list>
        <ion-list-header class="myHeader">Mis equipos favoritos</ion-list-header>
        <button ion-item *ngFor="let item of favourites" (click)="favouriteTapped($event, item)">
          <ion-icon name="star"></ion-icon>
          {{item?.team?.name}}
          <p>{{item?.tournamentName}}</p>
        </button>
      </ion-list>
      <ion-card-content>
        <button ion-button round outline color="secondary" (click)="irATorneos()">
          Torneos
          <ion-icon padding-left="" name="search"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
