<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <ion-list-header>Navigate</ion-list-header>
      <button menuClose ion-item (click)="goHome()">Home</button>
      <button menuClose ion-item (click)="goTournaments()">Torneos</button>
      <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--{{p.title}}-->
      <!--</button>-->

        <!--<ion-item class="item-stable"-->
                  <!--(click)="toggleGroup(group)"-->
                  <!--ngclass="{active: isGroupShown(group)}">-->
          <!--<i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>-->
          <!--Favoritos-->
        <!--</ion-item>-->
        <!--<ion-item class="item-accordion"-->
                  <!--ng-repeat="item in group.items"-->
                  <!--ng-show="isGroupShown(group)">-->
          <!--&ndash;&gt; {{item}}-->
        <!--</ion-item>-->

      <ion-item [ngClass]="{'selected' : !hideGroup}" (click)="toggleGroup()">
        Favourites
        <ion-icon name="arrow-dropup" item-right *ngIf="!hideGroup"></ion-icon>
        <ion-icon name="arrow-dropdown" item-right *ngIf="hideGroup"></ion-icon>
      </ion-item>
      <ion-item
        *ngFor="let team of userSettings.favouries"
        (click)="favouriteTapped($event, team)"
        menuClose
        class="item-fav"
        [ngClass]="{'selected' : !hideGroup}">
        {{team?.team?.name}}
      </ion-item>


    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
