<!--
  Generated template for the TeamHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{team?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button="" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-tabs>
  <ion-tab tabTitle="Detalles"
           [root]="teamDetailTab"
           [rootParams]="team"
           tabIcon="football"></ion-tab>
  <ion-tab tabTitle="Localización"
           [root]="standingsTab"
           [rootParams]="team"
           tabIcon="map"></ion-tab>
</ion-tabs>
