<!--
  Generated template for the TournamentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Selecciona un Torneo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button *ngFor="let item of tournaments" ion-item=""
            (click)="itemTapped(item)">{{item?.name}}</button>
  </ion-list>

  <button ion-button color="primary" (click)="goHome()">Home</button>
</ion-content>
